.subscriber-form{
    margin-top: 30px;
}

.label-control
{
    color: #80808080;
    font-size: 1.15res;
    margin-right: 15px;
}

.input-control{
    width: 300px;
    min-width: 100px;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9res;
    outline: none;
}

.subscriber-info-container{
    font-size: 1res;
    margin-right: 10px;
    margin-bottom: 20px;
}

.subscriber-to-add-heading{
    color: #0a4f75;
    font-size: 600;
}

.subscriber-info{
    color: #880088;
}